## This is used just as reference just in case these is needed.
# 1.CREDENTIAL AND LOCAL CONFIGURATION FILES
# Block any file where you store database passwords
.env
config.sql
credentials.txt
secrets.json

# 2. DATABASE BACKUPS AND DUMPS
# Avoid uploading massive tables or real customer/user data
*.sql.gz
*.sql.tar
backup_*.sql
dump.sql
*backup*.sql

# 3.VS Code temporary and configuration files
# Avoid uploading folders specific to your text editor or operating system
.vscode/
.DS_Store
Thumbs.db
